/* http://127.0.0.1:5500/index.html */

:root {
    --yellow-neon: #e6f600;
    --purple-neon: purple;
    --white-neon: #f0f0f0;

    --transition-time: 0.2s;
}

@font-face{
    font-family: 'Mi fuente personalizada';
    src: url(../fonts/Cyberpunks.ttf) format('woff2');
}
@font-face {
    font-family: 'OrbitronCustom';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
/* ==========================================================================
    ESTILOS BASE (NO TOCAR DIRECTAMENTE) 
    ¡Crea una zona de Media Queries!
   ========================================================================== */

/*========================================
    GENERAL
========================================*/

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    min-width: 1200px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/imagen_ciberdick.jpg'); /* https://img.freepik.com/free-vector/network-communications-with-flowing-cyber-dots-design_1048-13962.jpg?semt=ais_hybrid&w=740&q=80 */
    backdrop-filter: brightness(40%);
    
    color: #333;
    
    background-size: cover;
}

/*========================================
    ENCABEZADO
========================================*/

header {
    background: linear-gradient(45deg, black, rgb(41, 19, 45));
    color: var(--white-neon);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em;
    
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    box-shadow: 2px 2px 20px 5px var(--purple-neon);
    transition: box-shadow var(--transition-time);
}

header:hover {
    box-shadow: 0 0 10px 15px var(--purple-neon);
}

.logo {
    font-size: 2em;
    font-weight: bold;

    text-transform: uppercase;
    letter-spacing: 2px;

    border: 10%;

    text-shadow: 
    0 0 1px var(--white-neon), 
    0 0 10px var(--yellow-neon), 
    0 0 20px var(--yellow-neon);
}

.main-nav ul {
    list-style: none;

    display: flex;
    gap: 20px;
}

.main-nav a {
    color: var(--white-neon);
    text-decoration: none;
    font-weight: bold;
    transition: font-size var(--transition-time);

    text-shadow: 
    0 0 1px var(--white-neon), 
    0 0 2px var(--yellow-neon), 
    0 0 3px var(--yellow-neon);
}

.main-nav a:hover {
    font-size: 1.1em;
}

/*========================================
    MAIN
========================================*/

main {
    width: 900px;

    float: left; /* Técnica antigua para poner elementos lado a lado */

    color: var(--white-neon);
    padding: 30px;

    margin: 30px 0 30px 50px;
    box-shadow:
    0 0 1px var(--white-neon), 
    0 0 2px var(--white-neon), 
    0 0 5px var(--purple-neon), 
    0 0 10px var(--purple-neon), 
    0 0 20px var(--purple-neon);

    border-radius: 2%;
    border: 1px solid;
}

main h1{
    color: var(--white-neon);

    text-transform: uppercase;

    text-shadow: 2px 2px 20px 2px;
    text-shadow: 
    0 0 2px var(--white-neon), 
    0 0 3px var(--yellow-neon), 
    0 0 5px var(--yellow-neon);
}

main img{
    margin-top: 20px;
    box-shadow: 0 0 10px 1px var(--white-neon);
}

main, aside {
    background: linear-gradient(95deg, rgb(10, 10, 20, 0.8), rgb(25, 15, 25, 0.8));
    color: var(--white-neon);
}

/*========================================
    ANUNCIOS
========================================*/

aside {
    float: right;

    margin: 30px 50px 30px 0;

    width: 300px;
    padding: 20px;
    

    border: 1px solid var(--white-neon);
    border-radius: 20px;

    box-shadow:
    0 0 1px var(--white-neon), 
    0 0 2px var(--white-neon), 
    0 0 5px var(--purple-neon), 
    0 0 10px var(--purple-neon), 
    0 0 20px var(--purple-neon);
}

aside::after {
    content: "";
    display: table;
    clear: both;
}

.main-article p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.responsive-img {
    margin-bottom: 20px;
    border-radius: 16px;
    overflow: hidden;
    object-fit: cover;
    transition: transform var(--transition-time) ease-in-out;
}

.responsive-img:hover {
    object-fit: cover;
    transform: scale(0.98);
}

aside h2 {
    border-bottom: 2px solid var(--white-neon);

    margin-bottom: 15px;
    padding-bottom: 5px;
}

.anuncio {
    transition: transform, background var(--transition-time);

    text-align: center;

    margin-top: 15px;
    padding: 15px;

    border-radius: 16px;
    border: 1px solid var(--white-neon);

    background: rgba(92, 2, 165, 0.219);

    box-shadow: 0 0 5px 1px var(--purple-neon);
}

.anuncio:hover {
    cursor: pointer;

    background: rgba(189, 46, 255, 0.219);

    transform: scale(1.03);
}

/*========================================
    PIE DE PÁGINA
========================================*/

footer {
    clear: both; /* Nos aseguramos de que el footer se quede abajo del todo */

    background: linear-gradient(45deg, black, rgb(41, 19, 45));
    color: var(--yellow-neon);
    
    display: flex;
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    
    margin: 0 auto;
    
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;    
    border-top: 2px solid #ff00ff;

    box-shadow:
    0 0 1px var(--white-neon), 
    0 0 2px var(--white-neon), 
    0 0 5px var(--purple-neon), 
    0 0 10px var(--purple-neon), 
    0 0 20px var(--purple-neon);
    
    transition: box-shadow var(--transition-time);
    font-family: 'OrbitronCustom', sans-serif;
}

.footer-col {
    width: 33.33%;
    padding: 0 20px;
    border-right: 1px solid #7f8c8d;
}

.footer-col:last-child {
    border-right: none;
}

.footer-col h3 {
    margin-bottom: 15px;
    color: #ecf0f1;
}

.footer-col p {
    margin-bottom: 10px;
    color: #bdc3c7;
}

footer:hover {
    box-shadow: 0 0 10px 15px var(--purple-neon);
}

footer p:hover{
    cursor: pointer;
    text-shadow: 2px 2px 20px 2px;
    text-decoration: underline;
    text-shadow: 
    0 0 2px var(--white-neon), 
    0 0 3px var(--purple-neon), 
    0 0 5px var(--yellow-neon);
}

h3::before {
    content: '🤖 '
}


/* ==========================================================================
    67  MEDIA QUERIES
    Añade a partir de aquí tus reglas @media para "rescatar" la web.
   ========================================================================== */

/* Móviles */
@media screen and (max-width: 768px){
    body {
        min-width: 100%;
    }

    /* Main article */
    .main-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .main-article h1 {
        width: 95%;
    }

    main{
        float: none;
        margin: 20px auto;
        width: 100%;
        max-width: 100%;
    }


    /* Aside */
    aside{
        float: none;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 25px;
    }


    body{
        font-size: 14px;
    }
    
    /* Header */
    header{
        flex-direction: column;
        align-items: center;
    }

    header .main-nav ul{
        justify-content: center;
    }

    footer {
        max-width: 100%;
        width: 100%;
    }

    .responsive-img {
        width: 80%;
    }
}


/* Tablets */
@media screen and (min-width:768px) and (max-width:1300px){
    body{
        font-size: 14px;
        min-width: 80%;
    }
    
    /* Header */
    header{
        flex-direction: column;
        align-items: center;
    }

    header .main-nav ul{
        margin-top: 10px;
        justify-content: center;
    }


    /* Main article */
    .main-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-article h1 {
        width: 95%;
    }

    main{
        float: none;
        margin: 20px auto;
        width: 100%;
        max-width: 100%;
    }

    .responsive-img {
        width: 80%;
    }


    /* Aside */
    aside{
        float: none;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    footer {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }
}
